:root {
	--bg-color-primary: #10b981;
	--bg-color-secondary: #047857;
	--bg-color-highlight: #6ee7b7;
	--text-color-primary: #000000;
	--text-color-secondary: #ffffff;
	--text-color-highlight: #000000;
	--border-color: #000000;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color-primary);
	color: var(--text-color-primary);
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	font-weight: 700;
}

header {
	width: 100%;
	background-color: var(--bg-color-secondary);
	height: 15vh;
	border-bottom: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 0 20%;
}

button {
	padding: 10px;
	width: 100px;
	height: 50px;
}

#content {
	display: grid;
	grid-template-columns: 1fr 5fr;
	width: 100%;
	height: 80vh;
}

#sidebar {
	background-color: var(--bg-color-secondary);
	color: var(--text-color-secondary);
	border: 1px solid var(--border-color);
	border-top: none;
	border-left: none;
}

#sidebar > ol,
#to-do-list > ol {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: 700;
}

#sidebar > ol > li,
#to-do-list > ol > li {
	height: 100%;
	display: flex;
	align-items: center;
}

#sidebar > ol > li {
	justify-content: center;
}

.even {
	background-color: var(--bg-color-highlight);
	color: var(--text-color-highlight);
}

#to-do-list {
	margin: 50px;
	background-color: var(--bg-color-secondary);
	border: 1px solid var(--border-color);
}

#to-do-list > ol > li {
	justify-content: left;
	padding: 20px;
	border: 1px solid var(--border-color);
}

footer {
	margin-top: auto;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	background-color: var(--bg-color-secondary);
	padding: 20px 0;
	border-top: 1px solid var(--border-color);
}
