:root {
	--bg-color-primary: #10b981;
	--bg-color-secondary: #047857;
	--bg-color-highlight: #6ee7b7;
	--text-color-primary: #000000;
	--text-color-secondary: #ffffff;
	--text-color-highlight: #000000;
	--border-color: #000000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color-primary);
	color: var(--text-color-primary);
	font-family: sans-serif;
	display: grid;
	grid-template-columns: 1fr 5fr;
	height: 100px;
}

#sidebar {
	grid-column: 1 / 2;
	background-color: var(--bg-color-secondary);
	height: 100%;
}

#content {
	grid-column: 2 / 3;
	background-color: var(--bg-color-primary);
	height: 100%;
}